.sum {
    background: #222;
    border: 0;
    padding: 5px;
    font-size: 14px;
}

.sum:hover {
    background: #444;
}

.sum, .sum td {
    color: #ddd !important;
}

.sum .expenses {
    text-align: center;
}

.daySummary {
    font-size: .875rem;
    background-color: #F0F8FF;
    color: #333;
    padding: 10px;
}

.daySummary td {
    padding: .2rem;
}